h1{
    font-family: monospace;
}
.container{
    width: 150px;
    height: 150px;
    background-color: teal;
    margin: 1px;
    border-radius: 10px;
   transition: all 2s ease-in-out;
   border: 2px solid darkkhaki;
}

.container :hover{
    background-color: turquoise;
}